  body {
      background-color:white;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background: #fff;
      border: 1px solid #dbdbdb;
      width: 350px;
      text-align: center;
      padding: 40px 30px;
      border-radius: 8px;
    }
    .logo {
      font-family: "Brush Script MT", cursive;
      font-size: 28px;
      margin-bottom: 20px;
      color: #0095f6;
    }
    input {
      width: 100%;
      padding: 9px;
      margin: 5px 0;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      background: #fafafa;
    }
    button {
      width: 100%;
      padding: 9px;
      background-color: #0095f6;
      border: none;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      margin-top: 8px;
      cursor: pointer;
    }
    button:hover {
      background-color: #007acc;
    }
    .divider {
      display: flex;
      align-items: center;
      text-align: center;
      color: #8e8e8e;
      font-size: 13px;
      margin: 15px 0;
    }
    .divider::before, .divider::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #dbdbdb;
    }
    .divider::before { margin-right: .75em; }
    .divider::after { margin-left: .75em; }

    a {
      color: #00376b;
      text-decoration: none;
      font-size: 13px;
    }
    .signup {
      margin-top: 12px;
      padding: 15px;
      border: 1px solid #dbdbdb;
      background: #fff;
      border-radius: 8px;
      font-size: 14px;
      text-align: center;
    }
    .signup a {
      font-weight: bold;
      color: #0095f6;
    }
